<h1>Listing articles</h1>
<%= link_to 'New article', new_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.post %></td>
      <td><%= link_to 'Show', post_path(p) %></td>
      <td><%= link_to 'Edit', edit_post_path(p) %></td>
      <td><%= link_to 'Destroy', post_path(p),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
